@charset "UTF-8";
body {
  font-family: "Noto Sans JP";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #111;
  color: #fff;
  text-align: center;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn__inner {
  width: 335px;
  width: 20.9375rem;
  position: relative;
}

.btn__inner::before {
  content: "";
  display: block;
  padding-top: 14.925%;
}

.btn__layout {
  padding: 0;
  margin-top: 50px;
  margin-top: 3.125rem;
}

.btn__link-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.btn__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.btn__link:hover {
  color: #333;
}

.btn__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.btn__link:hover:before {
  left: 0%;
}

.btn {
  border: 1px solid #fff;
}

.card__category-datetime-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__category-layout {
  display: inline-block;
  padding: 0 4px;
  padding: 0 0.25rem;
}
.card__category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #000;
  background: #ffea2e;
}
.card__contents-wrap {
  margin: 0 22px;
  margin: 0 1.375rem;
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.card__contents {
  background: #fff;
}
.card__datetime-layout {
  display: inline-block;
}
.card__datetime {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.875;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
}
.card__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
}
.card__inner {
  max-width: 335px;
  max-width: 20.9375rem;
}
.card__photo {
  position: relative;
  overflow: hidden;
}

.card__photo::before {
  content: "";
  display: block;
  padding-top: 66.56%;
  background: #333;
}

.card__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.94;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
}
.card {
  display: inline-block;
}
.comment-box__layout {
  width: 335px;
  width: 20.9375rem;
  margin: 0 auto;
  margin-top: 100px;
  margin-top: 6.25rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.comment-box__massege-layout {
  margin: 0 10px;
  margin: 0 0.625rem;
  margin-top: 56px;
  margin-top: 3.5rem;
  margin-bottom: 33px;
  margin-bottom: 2.0625rem;
}
.comment-box__massege {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.1875;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  color: #ffffff;
}
.comment-box__title-layout {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 8.5px 24px;
  padding: 0.53125rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
}
.comment-box__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  color: #fff;
  background: #111;
}
.comment-box__wrap {
  border: 1px solid #fff;
  position: relative;
}
.nbtn__layout {
  display: block;
  width: 335px;
  width: 20.9375rem;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 3.125rem;
}

.nbtn__layout::before {
  content: "";
  display: block;
  padding-top: 14.925%;
}

.nbtn__text-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nbtn__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  overflow: hidden;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.nbtn__text:hover {
  color: #333;
}

.nbtn__text::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
  z-index: -1;
}

.nbtn__text:hover:before {
  right: 0;
}

.nbtn {
  border: 1px solid #fff;
}
/*# sourceMappingURL=styles.css.map */
