@charset "UTF-8";
body {
  font-family: "Noto Sans JP";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background: #111;
  color: #fff;
  text-align: center;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.achievements__category {
  display: inline-block;
  width: 128px;
  width: 8rem;
  position: relative;
  overflow: hidden;
  border: solid 1px rgb(255, 255, 255);
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .achievements__layout {
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}

.achievements__time-layout {
  margin-right: 30px;
  margin-right: 1.875rem;
}
.achievements__time {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: 88px;
  width: 5.5rem;
}

.achievements__timeCategory-wrapper-layout {
  width: 89.3333333333%;
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.achievements__timeCategory-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements__title-layout {
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.achievements__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  width: 89.3333333333%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .article__card-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .article__card-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.article__layout {
  margin: 0 auto;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .article__layout {
    max-width: 71.25rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .article__wrapper {
    margin: 0 1.25rem;
  }
}

.article {
  display: block;
}
.breadcrumb__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
}
.breadcrumb__list-layout {
  margin-right: 5px;
  margin-right: 0.3125rem;
}
.breadcrumb__list-layout:last-child {
  margin-right: 0;
}

.breadcrumb__list {
  display: inline-block;
}
.breadcrumb__list::after {
  content: ">";
  display: inline-block;
  margin-left: 5px;
  margin-left: 0.3125rem;
}
.breadcrumb__list:last-child:after {
  display: none;
}

.breadcrumb__wrap-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumb-layout {
  display: block;
  width: 335px;
  width: 20.9375rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-bottom: 53px;
  margin-bottom: 3.3125rem;
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .breadcrumb-layout {
    max-width: 68.75rem;
    margin: 0 5.625rem;
    margin-bottom: 3.3125rem;
    margin-top: 4.125rem;
  }
}

.btn__inner {
  width: 335px;
  width: 20.9375rem;
  position: relative;
}

.btn__inner::before {
  content: "";
  display: block;
  padding-top: 14.925%;
}

.btn__layout {
  padding: 0;
}
.btn__link-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.btn__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.btn__link:hover {
  color: #333;
}

.btn__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.btn__link:hover:before {
  left: 0%;
}

.btn-favarite__layout {
  margin: 0 auto;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  padding: 8px 0;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .btn-favarite__layout {
    margin-bottom: 5rem;
  }
}

.btn-favarite__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
}

.btn-favarite__link:hover {
  color: #333;
}

.btn-favarite__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: 0.75s all linear;
  transition: 0.75s all linear;
  z-index: -1;
}

.btn-favarite__link:hover:before {
  left: 0;
}

.btn-favarite__wrapper-layout {
  padding: 8px 0;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .btn-favarite__wrapper-layout {
    margin: 0 1.25rem;
  }
}

.btn-favarite__wrapper {
  background: rgb(51, 51, 51);
}
.btn-favarite {
  display: block;
  width: 335px;
  width: 20.9375rem;
  border: 1px solid #fff;
  background: rgb(51, 51, 51);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .btn-favarite {
    max-width: 1140px;
    width: 100%;
  }
}

.btn {
  border: 1px solid #fff;
}

.card__category-datetime-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__category-layout {
  display: inline-block;
  padding: 0 4px;
  padding: 0 0.25rem;
}
.card__category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #000;
  background: #ffea2e;
}
.card__contents-wrap {
  margin: 0 22px;
  margin: 0 1.375rem;
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.card__contents {
  background: #fff;
}
.card__datetime-layout {
  display: inline-block;
}
.card__datetime {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.875;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
}
.card__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
  text-align: left;
}
.card__layout {
  margin: 0 auto;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .card__layout {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .card__layout:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.card__photo {
  position: relative;
  overflow: hidden;
}

.card__photo::before {
  content: "";
  display: block;
  padding-top: 66.56%;
  background: #333;
}

.card__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.94;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333;
  text-align: left;
}
.card {
  display: block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
}
.comment-box__layout {
  width: 335px;
  width: 20.9375rem;
  margin: 0 auto;
  margin-top: 100px;
  margin-top: 6.25rem;
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .comment-box__layout {
    margin-bottom: 6.5625rem;
  }
}

.comment-box__massege-layout {
  margin: 0 10px;
  margin: 0 0.625rem;
  margin-top: 56px;
  margin-top: 3.5rem;
  margin-bottom: 33px;
  margin-bottom: 2.0625rem;
}
.comment-box__massege {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.1875;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  color: #fff;
  text-align: left;
}
.comment-box__title-layout {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 8.5px 24px;
  padding: 0.53125rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.comment-box__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 0.4px;
  letter-spacing: 0.025rem;
  color: #fff;
  background: #111;
}
.comment-box__wrap-layout {
  margin-bottom: 54px;
  margin-bottom: 3.375rem;
}
@media screen and (min-width: 768px) {
  .comment-box__wrap-layout {
    margin-bottom: 4.4375rem;
  }
}

.comment-box__wrap {
  border: 1px solid #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .comment-box {
    width: 50rem;
  }
}

.contact__layout {
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 3.125rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 64px 0;
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .contact__layout {
    padding: 9.25rem 0rem;
  }
}

.contact__message-layout {
  text-align: left;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .contact__message-layout {
    margin-bottom: 3.0625rem;
  }
}

.contact__message {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__message {
    font-size: 1rem;
    line-height: 2.1875;
    letter-spacing: 0.125rem;
  }
}

.contact__title-layout {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.contact__title {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 1.875rem;
    line-height: 1.1666666667;
    letter-spacing: 0.125rem;
  }
}

.contact__title::before {
  content: "Contact";
  display: block;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #f9f871;
  opacity: 0.27;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0%, -108%);
          transform: translate(0%, -108%);
}
@media screen and (min-width: 768px) {
  .contact__title::before {
    font-size: 6.875rem;
    line-height: 1.4363636364;
    letter-spacing: 0.125rem;
    -webkit-transform: translate(-115%, -270%);
            transform: translate(-115%, -270%);
  }
}

.contact__wrap-layout {
  display: inline-block;
  width: 335px;
  width: 20.9375rem;
  margin: 0 auto;
  margin: 0 0;
}
@media screen and (min-width: 768px) {
  .contact__wrap-layout {
    width: 100%;
  }
}

.contact {
  background: #3d3d3d;
  position: relative;
  z-index: 0;
}
.drawerMenu-btn {
  width: 24px;
  width: 1.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .drawerMenu-btn {
    display: none;
  }
}

.drawerMenu-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: rgb(255, 255, 255);
  position: relative;
}

.header .js-drawerMenu-btn span {
  background: rgba(255, 255, 255, 0);
}

.drawerMenu-btn span::before {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  position: absolute;
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.header .js-drawerMenu-btn span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawerMenu-btn span::after {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  position: absolute;
  -webkit-transform: translateY(0.625rem);
          transform: translateY(0.625rem);
}

.header .js-drawerMenu-btn span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawerMenu-list-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .drawerMenu-list-pc {
    display: block;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .drawerMenu-list-pc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .drawerMenu-list-pc li {
    margin-right: 2rem;
  }
}

.drawerMenu-list-pc li:last-child {
  margin-right: 0;
}

.drawerMenu-list-pc a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.1875;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .draserMenu-list-pc__inquiry {
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .draserMenu-list-pc__inquiry a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(51, 51, 51);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 0;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

.draserMenu-list-pc__inquiry a:hover:before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .draserMenu-list-pc__inquiry a {
    color: rgb(51, 51, 51);
    padding: 0 2rem;
    position: relative;
  }
}

.draserMenu-list-pc__inquiry a:hover {
  color: rgb(255, 255, 255);
}

.draserMenu-list-pc__inquiry p {
  position: relative;
  z-index: 99;
}

.footer__layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.footer__li-img {
  display: inline-block;
  width: 70px;
  width: 4.375rem;
}
.footer__li-layout {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__li-layout {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.footer__li-layout:last-child {
  margin-right: 0;
}

.footer__li-link {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer__li-title {
    margin-right: auto;
  }
}

.footer__li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  text-align: center;
  letter-spacing: 1.2px;
  letter-spacing: 0.075rem;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2rem;
    margin-bottom: 4.6875rem;
  }
}

.header__layout {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 22px;
  margin: 0 1.375rem;
}

.header {
  height: 50px;
  height: 3.125rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgb(17, 17, 17);
}
.header a {
  height: 100%;
}

.header h1 {
  width: 70px;
  width: 4.375rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header h1::before {
  content: "";
  display: block;
  padding-top: 42.8571428571%;
}

.header h1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.js-drawerMenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(17, 17, 17);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.js-drawerMenu-list-open {
  left: 0;
}

.js-drawerMenu-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}

.js-drawerMenu-list li {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.js-rawerMenu-list li:last-child {
  margin-bottom: 0;
}

.smoothScroll {
  display: block;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.smoothScroll::before {
  content: "";
  display: block;
  width: 23.94px;
  width: 1.49625rem;
  height: 2px;
  background: rgb(51, 51, 51);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-15%, -50%) rotate(45deg);
          transform: translate(-15%, -50%) rotate(45deg);
}

.smoothScroll::after {
  content: "";
  display: block;
  width: 23.94px;
  width: 1.49625rem;
  height: 2px;
  background: rgb(51, 51, 51);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-85%, -50%) rotate(-45deg);
          transform: translate(-85%, -50%) rotate(-45deg);
}

.swiper-achievements {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.swiper_main {
  position: relative;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.swiper-slide {
  position: relative;
}

.swiper-slide::before {
  content: "";
  display: block;
  padding-top: 70%;
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 234, 46);
  width: auto;
  width: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-size: 1.25rem;
  background: rgb(17, 17, 17);
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.8125rem;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.swiper-slide-visible.swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide-visible {
  opacity: 0.3;
}

.wp-pagenavi {
  clear: both;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wp-pagenavi__layout {
  width: 335px;
  width: 20.9375rem;
  margin: 0 auto;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .wp-pagenavi__layout {
    margin-bottom: 6.5625rem;
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  width: 71px;
  width: 4.4375rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 0px 13px;
  padding: 0rem 0.8125rem;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}

.wp-pagenavi a:hover {
  color: #333;
  background-color: #f9f871;
  border-color: #fff;
}

.wp-pagenavi span.current {
  border-color: #fff;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */
