@use "global" as *;
.achievements__time {
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: calc(32 / 16);
  letter-spacing: rem(0.4);
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: rem(88);
}
