@use "global" as *;
.btn-favarite {
  display: block;
  width: rem(335);
  border: 1px solid #fff;
  background: rgba(51, 51, 51, 1);
  overflow: hidden;
  @include mq(md) {
    max-width: 1140px;
    width: 100%;
  }
}
