@use "global" as *;
.btn__link {
  color: #fff;
  overflow: hidden;
  transition: 0.75s all linear;
}

.btn__link:hover {
  color: #333;
}

.btn__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: 0.75s all linear;
}

.btn__link:hover:before {
  left: 0%;
}
