@use "global" as *;
.card__layout {
  margin: 0 auto;
  margin-bottom: rem(24);
  @include mq(md) {
    margin-right: rem(32);
  }
}

.card__layout:last-child {
  @include mq(md) {
    margin-bottom: 0;
    margin-right: 0;
  }
}
