@use "global" as *;
.card__description {
  font-style: normal;
  font-weight: 400;
  font-size: rem(14);
  line-height: 1.857;
  letter-spacing: rem(1);
  color: #333;
  text-align: left;
  @include mq(md) {
  }
}
