@use "global" as *;
.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: rem(18);
  line-height: 1.94;
  letter-spacing: rem(1);
  color: #333;
  text-align: left;
  @include mq(md) {
  }
}
