@use "global" as *;
.nbtn__text {
  overflow: hidden;
  transition: 0.75s all linear;
}

.nbtn__text:hover {
  color: #333;
}

.nbtn__text::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.75s all linear;
  z-index: -1;
}

.nbtn__text:hover:before {
  right: 0;
}
